$indigo:                 #122147 !default;
$indigo-lighter:         #9999aa !default;
$indigo-light:           #5D5D79 !default;
$indigo-medium:          #383E5E !default;
$indigo-dark:            #000824 !default;

$light-blue:             #A6CFD7 !default;
$light-blue-dark:        #6E9CAA !default;
$light-blue-light:       #B8D7DE !default;

$orange:                 #EDBD82 !default;
$orange-dark:            #D7A66C !default;
$orange-light:           #F0C898 !default;
$orange-medium:          #E5A024 !default;

$red:                    #D2605A !default;
$red-dark:               #B84642 !default;
$red-light:              #D97D72 !default;

$green:                  #61A255 !default;
$green-dark:             #357643 !default;
$green-light:            #9AC08F !default;

$black:                  #000000 !default;
$white:                  #FFFFFF !default;
$grey:                   #BCBEC0 !default;
$light-grey:             #E6E7E8 !default;
