\#*
*~
.#*
.pushed-*

/cache.manifest*
/core/design.json
/core/js/*.js
/core/js/couchdb/*.js
/core/js/couchdb/*/*.js
/core/js/tabcat/*.js
#/core/packages
/tasks/*/Makefile
/tasks/*/design.json
#/tasks/*/packages
