\#*
*~
.#*
.pushed-*
design.json
packages
/cache.manifest*
/console/js/*.js
/core/js/*.js
/core/js/couchdb/*.js
/core/js/couchdb/*/*.js
/core/js/tabcat/*.js
/tasks/*/scoring/js
.tabcat_password
.idea*
.vagrant*