#task div.task-description {
    text-align: center;
}

#task div.line {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #ffcc66;
}

#task div.layout-0 div.top-line {
    top: 53%;
    height: 7%;
}

#task div.layout-0 div.bottom-line {
    top: 71%;
    height: 7%;
}

#task div.layout-0 div.practice-caption {
    top: 15%;
    height: 15%;
}

#task div.layout-1 div.top-line {
    top: 19%;
    height: 7%;
}

#task div.layout-1 div.bottom-line {
    top: 37%;
    height: 7%;
}

#task div.layout-1 div.practice-caption {
    top: 60%;
    height: 15%;
}

#task div.practice-caption {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #cc9933;
    font-size: 10em;
    text-align: center;
    left: 0%;
    width: 100%;
}
