div.task-description {
    text-align: center;
}

div.line {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #ffcc66;
    text-align: center;
    vertical-align: middle;
    color: #000000; /* for debug text */
    font-size: 2em;
}

div.layout-0 div.top-line {
    top: 53%;
    height: 7%;
}

div.layout-0 div.bottom-line {
    top: 71%;
    height: 7%;
}

div.layout-0 div.practice-caption {
    top: 15%;
    height: 15%;
}

div.layout-1 div.top-line {
    top: 19%;
    height: 7%;
}

div.layout-1 div.bottom-line {
    top: 37%;
    height: 7%;
}

div.layout-1 div.practice-caption {
    top: 60%;
    height: 15%;
}






div.practice-caption {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #cc9933;
    font-size: 5em;
    text-align: center;
    left: 0%;
    width: 100%;
}

.centered {
    position: absolute;
    top: 40%;
    height: 20%;
    left: 0%;
    width: 100%;
    vertical-align: middle;
}

.message {
    text-align: center;
    font-size: 5em;
}


/* probably will want to move this to core/css/tabcat.css once we work out
the use cases */
.for-examiner {
    text-align: center;
    font-size: 3em;
}

.score-list {
    text-align: center;
    font-size: 3em;
    color: #9999cc;
}

.elapsed-time {
    text-align: center;
    font-size: 3em;
    color: #ffcc99;
}
