#task div.task-description {
    text-align: center;
}

#task div.line {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #ffcc66;
}

#task div.line-target {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#task div.practice-caption {
    position: absolute;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #cc9933;
    font-size: 8em;
    text-align: center;
    top: 0%;
    left: 0%;
    right: 100%;
    width: 100%;
}
