div.task-description {
    text-align: center;
}

div.line-container {
    position: absolute;
    /* this is square because the container is always 4/3 */
    height: 72%;
    width: 54%;
    top: 14%;
    bottom: 86%;
    left: 23%;
    right: 77%;
}

div.line {
    position: absolute;
    margin: 0;
    padding: 0;
}

div.target-line {
    top: 0%;
    bottom: 50%;
    height: 50%;
    left: 49%;
    right: 51%;
    width: 2%;
    background-color: #7799bb;
}

div.line-1 {
    top: 75%;
    bottom: 100%;
    height: 25%;
    left: 13%;
    right: 14%;
    width: 1%;
    background-color: #cc9933;
}

div.line-2 {
    top: 75%;
    bottom: 100%;
    height: 25%;
    left: 86%;
    right: 87%;
    width: 1%;
    background-color: #cc9933;
}

div.practice-caption {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #cc9933;
    font-size: 4em;
    text-align: center;
    left: 0%;
    width: 100%;
    top: 3%;
}

div.practice-caption span.target {
    color: #7799bb;
}

.centered {
    position: absolute;
    top: 40%;
    height: 20%;
    left: 0%;
    width: 100%;
    vertical-align: middle;
}

.message {
    text-align: center;
    font-size: 5em;
}


/* probably will want to move this to core/css/tabcat.css once we work out
the use cases */
.for-examiner {
    text-align: center;
    font-size: 3em;
}

.score-list {
    text-align: center;
    font-size: 3em;
    color: #88bbbb;
}

.elapsed-time {
    text-align: center;
    font-size: 3em;
    color: #cc9933;
}
