#main {
    text-align: center;
}

#main img.logo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

form.login label {
    display: inline-block;
    width: 140px;
    text-align: left;
    font-size: 24px;
}

form.login input {
    width: 200px;
    font-size: 24px;
}

form.login button {
    font-size: 24px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}
