/* default look and feel. All things being equal, try to follow the UCSF
Web Identity Standards (right sidebar on http://www.ucsf.edu/about/identity). */
body {
    background-color: #000000;
    color: #eeeeee;
    /* Helvetica is the "everything is okay" font */
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}

/* fullscreen mode. set this class on html and body to simulate an app */

.fullscreen {
    top: 0%;
    height: 100%;
    bottom: 100%;
    left: 0%;
    width: 100%;
    bottom: 100%;
    margin: 0;
    padding: 0;
 }

/* disable elastic scrolling and zooming */
body.fullscreen {
    overflow: hidden;
    -ms-touch-action: none !important;
}

/* disable text selection. usually just need to set this on body */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* if you want to re-enable text selection */
.selectable {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

/* portrait mode selectors. use this to hide the task and show a message
instead when the browser is in portrait mode */

.portrait-show {
    display: none;
    visibility: hidden;
}

@media (orientation:portrait) {
    .portrait-show {
	display: block;
	visibility: visible;
    }

    .portrait-hide {
	display: none;
	visibility: hidden;
    }
}

button {
    color: #33334d;
    border-color: #ffffff;
    background-color: #ffffff;
}

button:disabled {
    color: #9999aa;
}

#statusBar {
    background-color: #666699;
    text-align: center;
    height: 50px;
    padding: 5px;
    min-width: 800px;
}

#statusBar div.left {
    float: left;
    width: 250px;
}

#statusBar img.banner {
    height: 50px;
}

#statusBar div.right {
    float: right;
    text-align: right;
    width: 250px;
}

#statusBar div.center {
    width: 300px;
}

#statusBar p.email {
    font-size: 14px;
    margin: 0px;
}

#statusBar p.encounter {
    font-size: 18px;
    margin: 0px;
}

#statusBar p.clock {
    font-size: 24px;
    margin: 0px;
}

#statusBar div.center {
    display: inline-block;
}

#statusBar button.login {
    height: 27px;
    width: 80px;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 5px;
    border-width: 3px;
}

.blueBackground {
    background-color: #666699;
}

#loginMain {
    text-align: center;
}

#loginMain img.logo {
    width: 180px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: -10px;
}

#loginMain label {
    width: 130px;
}

form.big p {
    margin: 15px;
}

p.error {
    font-size: 18px;
    color: #ffcc99;
}

p.message {
    font-size: 28px;
    color: #eeeecc;
}

form.big p.message {
    height: 32px;
    margin-top: 15px;
    margin-bottom: 20px;
}

form.big label {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    padding-right: 10px;
}

form.big input {
    width: 200px;
    font-size: 24px;
    color: #33334d;
    height: 34px;
}

form.big button {
    height: 34px;
    font-size: 22px;
    border-radius: 6px;
}

form.big button[type=submit] {
    font-size: 24px;
    height: 50px;
    border-radius: 10px;
    border-width: 5px;
    margin: 0px;
}

#loginForm button {
    width: 100px;
}

#encounter {
    text-align: center;
}

#encounter button {
    font-size: 24px;
    border-radius: 10px;
    border-width: 5px;
}

#encounter p {
    margin: 10px;
}

#createEncounterForm label {
    width: 170px;
}

#noEncounter {
    text-align: center;
}

#tasks div.task {
    background-color: #eeeeee;
    padding: 8px;
    margin: 10px;
    width: 600px;
    text-align: left;
    border-radius: 18px;
}

#tasks p.message {
    height: 32px;
    margin: 10px;
}

#tasks div.task:active {
    background-color: #cccccc;
}

#tasks img.icon {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    vertical-align: middle;
}

#tasks span.description {
    color: #000000;
    font-size: 36px;
    margin-left: 24px;
    vertical-align: middle;
}

#tasks button {
    font-size: 24px;
    border-radius: 10px;
    border-width: 5px;
}

#tasks #taskList {
    margin-top: 25px;
}