#tasks div.task {
    background-color: #eeeeee;
    padding: 8px;
    margin: 10px;
    width: 600px;
    text-align: left;
    border-radius: 18px;
}

#tasks div.task:active {
    background-color: #cccccc;
}

#tasks img.icon {
    width: 72px;
    height: 72px;
    border-radius: 12px;
    vertical-align: middle;
}

#tasks span.description {
    color: #000000;
    font-size: 36px;
    margin-left: 18px;
    vertical-align: middle;
}