body {
  background-color: #324266;
  color: #eeeeee;
  /* Helvetica is the "everything is okay" font */
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

span.correct {
  color: #ffdd00;
}

span.incorrect {
  color: #ec1848;
}

/* debug mode */
#task div {
  border: 0px solid;
}

#debug {
  position: absolute;
  left: 0;
}

#stimuli {
  position: relative;
  height: 85%;
  /*background-color: #eeeeee; for debug */
}

#instructions {
  width: 98%;
  margin: auto;
  text-align: center;
  font-size: 3.5em;
}

#instructions p {
  margin: 0;
  padding: 0.4em;
}

#instructions img.instructionsArrow {

}

/* 'line-height' value is arbitrary; should be equal to 'height' for vertical centering */
#stimuli div.feedback {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 300px;
  height: 300px;
  z-index: 3;
  text-align: center;
  font-size: 6em;
}

#stimuli img.arrow {
  height: 40em;
  width: 40em;
}

#stimuli img.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* offset by half the image dimensions */
#stimuli img.fixation {
  height: 3em;
  width: 3em;
  margin-top: -1.5em;
  margin-left: -1.5em;
  z-index: 2;
}

/* 7em above fixation = -(40/2 + 7) */
#stimuli img.aboveFixation {
  margin-top: -27em;
  margin-left: -20em;
  z-index: 1;
}

/* 7em below fixation = -(40/2 - 7) */
#stimuli img.belowFixation {
  margin-top: -13em;
  margin-left: -20em;
  z-index: 1;
}

#responseButtons {
  height: 15%;
  text-align: center;
  width: 100%;
  /*background-color: #cccccc;  for debug*/
}

#beginButton {
  width: 30%;
}

#responseButtons .responseButton {
  width: 30%;
  margin-left: 1em;
  margin-right: 1em;
}

#responseButtons img.responseArrow {
  height: 0.8em;
}

button.sideButton {
    position: absolute;
    height: 200%;
    width: 150%;
    top: -50%;
    padding: 0;
    margin: 0;
    border-color: #ffffff;
    background-color: #b4b9bf;
    border-width: 1em;
    border-style: solid;
    border-radius: 50%;  /* circular */
}

button.sideButton:active {
    background-color: #787b80;
}

button:focus {
    outline:0 !important3*64/4;
}

#leftButton {
    left: -135%;
}

#rightButton {
    left: 85%;
}

div#stimuli {
    position: absolute;
    width: 60%;
    height: 90%;
    left: 20%;
    top: 5%;
}