
body {
  background-color: #000000;
  color: #ffffff;
  /* Helvetica is the "everything is okay" font */
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
}

.progressButton {
  border-width: 0.2em;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 0.7em;
  background-color: #666666;
  padding: 0.3em;
  color: #ffffff;
  font-size: 5em;
}

.progressButtonDiv {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 5%;
}

.fixationDiv {
  width: 100%;
  height: 4em;
  line-height: 4em;
  font-size: 5em;
  text-align: center;
  position: absolute;
  top: 30%;
}

.targetDiv {
  width: 100%;
  position: absolute;
  top: 30%;
  text-align: center;
}

.targetImg {
  height: 20em;
  width: 20em;
}

.responseDiv {
  width: 100%;
  position: absolute;
  bottom: 15%;
  z-index: 1;  
}

.responseImg {
  height: 20em;
  width: 20em;
}

.responseLeftImg {
  float: left;
  margin-left: 20%;
}

.responseRightImg {
  float: right;
  margin-right: 15%;
  z-index: 1;
}

.cueDiv {
  width: 100%;
  height: 4em;
  line-height: 4em;
  font-size: 5em;
  text-align: center;
  position: absolute;
  bottom: 15%;
}

span.blue {
  color: #0000ff;
}

span.red {
  color: #ff0000;
}

/* debug mode */
#task div {
  border: 0px solid;
}

#debug {
  position: absolute;
  left: 0;
}

#stimuli {
  position: relative;
  height: 85%;
  /*background-color: #eeeeee; for debug */
}

.instructions {
  width: 98%;
  margin: auto;
  text-align: center;
  font-size: 3.5em;
}

.instructions p {
  margin: 0;
  padding: 0.4em;
}

.instructions img.instructionsImg {
  height: 7em;
  width: 7em;
}
