/* instructions */

#instructionsScreen {
    text-align: center;
}

#instructionsScreen p {
    margin: 1em;
    font-size: 8em;
}

#instructionsScreen button {
    clear: both;
    font-size: 8em;
    border-radius: 0.25em;
    margin: 0.5em;
}

/* video */

#videoScreen {
    position: relative;
}

#videoScreen video {
    height: 100%;
    width: auto;
    z-index: 1000;
}

#videoOverlay {
    position: absolute;
    margin: 0;
    top: 43%;
    width: 100%;
    font-size: 14em;
    text-align: center;
    color: #eeeeee;
    z-index: 1001;
}

/* choices */

#choicesForm {
    font-size: 5em;
}

#choicesForm input[type=radio] {
    height: 5em;
}

#choicesForm fieldset {
    border: 0;
}

#videoLabel {
    text-align: center;
    font-size: 2.5em;
}