// Variables
$colorBackButton: #888;
$colorTextButton: #fff;
$colorShadow: #444;
$fontFamilyMain: 'Arial';


input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button,
a.button {
  @include button();
}

.btn-label{
  position:relative;
  left:-20px;
  //display:inline-block;
  padding-top: 0.58rem;
  padding-right: 0.8rem;
  padding-bottom: 0.62rem;
  padding-left: 0.8rem;
  background:rgba(0,0,0,0.15);
  border-radius:3px 0 0 3px
}